$color-secondary: #dcdee0;
$transition: .3s ease-in-out;
$defaul-font: Arial, Helvetica, 'Segoe UI', Verdana, sans-serif;
$transition-translate: .4s all ease-in-out;
$background-color: #303131;
$app-borders-width: 8px;
$height-header: 53px;
$height-footer: 34px;
$width-menubar: 72px;
$height-menubar-items: 72px;
$content-width: calc(100% - #{$width-menubar} + #{$app-borders-width});

$height-secondary-gallery-768: 130px;
$height-secondary-gallery-900: 150px;
$height-secondary-gallery-992: 120px;
$height-secondary-gallery-1200: 140px;
$height-secondary-gallery-1600: 160px;

@mixin wh100() {
    width: 100%;
    height: 100%;
}

@mixin background-opacity($color: $background-color, $opacity: 0.8) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin btn-hover() {
    &:hover {
        background-color: rgba(0,0,0,0.3);
        color: #fff;
    }
}