* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #1b1f23;
  color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.user {
  padding: 10px;
  background-color: #1f312d;
  border-radius: 5px;
}

.user-photo {
  width: 400px;
  margin-bottom: 20px;
}

.user-name {
  width: 400px;
  margin-bottom: 40px;
}

.user-name__input {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  input {
    display: block;
    width: 270px;
    height: 34px;
    padding: 4px 8px;
    border: 1px solid #e5e5e5;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    &:focus {
      border-color: #999;
    }
  }
}

.password {
  width: 500px;
  margin-bottom: 40px;
  @extend .user; //TODO: замість extend зробити mixin
  h4 {
    margin-top: 0;
  }
  input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 34px;
    padding: 4px 8px;
    border: 1px solid #e5e5e5;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    &:focus {
      border-color: #999;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }


&--error {
  input {
    box-shadow: 0px 0px 5px 1px rgba(220, 2, 2, 1);
  }
}

button {
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
  0 3px 5px rgba(0, 1, 6, .5),
  0 0 1px 1px rgba(0, 1, 6, .2);
  transition: .2s ease-in-out;
  &:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
  }
  &:active {
    top: 1px;
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
  }
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

}

.button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend .user;
  button {
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .5),
    0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
    &:hover:not(:active) {
      background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
    }
    &:active {
      top: 1px;
      background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
      box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
      0 2px 3px rgba(0, 0, 0, .5) inset,
      0 1px 1px rgba(255, 255, 255, .1);
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.sub-container {
  @extend .user;
  height: 100%;
}

.sub-container__img {
  width: 500px;
  margin-bottom: 10px;
}

.back {
  text-align: right;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.counter-wrapper {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.counter__btn {
  display: flex;
  justify-content: space-between;
  button {
    width: 45px;
    padding: 0px 8px 0px 8px;
    border-top: 4px solid #ccc;
    border-left: 4px solid #ccc;
    border-right: 4px solid #ccc;
    border-bottom: 4px solid #aaa;
    background-color: #ddd;
  }
}

//modal
.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, .9);
  z-index: 100;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #37494e;
  color: white;
  font-size: 1em;
  padding: 1em;
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

}

.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}