.btn {
    display: inline-block;
    text-align: center;
    outline: none;
    background-image: none;
    filter: none;
    background-color: #3f74a3;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: #437cae;
    }
}
.nav{
    list-style: none;
    padding: 25px 0;
    background-color: #1f312d;
    margin: 0;
    display: flex;
    justify-content: space-around;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 26px;
    }
}