.main-container{
    width: 1000px;
    margin: 0 auto;
}

.main-title{
    text-align: center;
}

.login-form {
    width: 400px;
    margin: auto;
    background-color: #1f312d;
    border-radius: 5px;
    &.has-error {
        .form-group {
            label {
                color: red;
            }
            input {
                border-color: red;
            }
        }
    }
    .form-group {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            font-weight: 600;
            //margin-right: 32px;
        }
        input {
            display: block;
            width: 300px;
            height: 34px;
            padding: 4px 8px;
            border: 1px solid #e5e5e5;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            font-size: 14px;
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            &:focus {
                border-color: #999;
            }
        }
    }
}